<div class="auth-page">
    <section class="auth-panel" aria-labelledby="@LabelledBy">
        <div class="auth-content">
            @ChildContent
        </div>
    </section>
    <div class="auth-illustration">
        <img src="@ImageUrl" alt="Authentication Illustration" />
    </div>
</div>

@code {
    [Parameter]
    public string? LabelledBy { get; set; }

    [Parameter]
    public string? ImageUrl { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
