@page "/signup"
@layout PublicLayout
@rendermode InteractiveServer

<PageTitle>Sadkah - Signup</PageTitle>

<AuthPanel LabelledBy="signup-title" ImageUrl="/images/auth/shield-lock.png">
    <div class="signup-heading">
        <h1 id="signup-title">Create Your <span>Account</span></h1>
        <p>
            Join <strong>Sadkah</strong> and start making an
            <strong>impact</strong> today.
        </p>
    </div>

    <EditForm Model="signupModel" OnValidSubmit="HandleSignupAsync" FormName="signup">
        <DataAnnotationsValidator />

        <div class="signup-form">
            @if (!string.IsNullOrWhiteSpace(statusMessage))
            {
                <div class="signup-alert @statusAlertClass" role="alert">
                    @statusMessage
                </div>
            }

            <div class="signup-field-row">
                <AppField TValue="string" Id="first-name" Label="First name" For="() => signupModel.FirstName">
                    <AppInput Id="first-name"
                              Type="text"
                              Autocomplete="given-name"
                              Placeholder="Enter your first name"
                              @bind-Value="signupModel.FirstName">
                        <LeftIcon>
                            <UserIcon />
                        </LeftIcon>
                    </AppInput>
                </AppField>

                <AppField TValue="string" Id="last-name" Label="Last name" For="() => signupModel.LastName">
                    <AppInput Id="last-name"
                              Type="text"
                              Autocomplete="family-name"
                              Placeholder="Enter your last name"
                              @bind-Value="signupModel.LastName">
                        <LeftIcon>
                            <UserIcon />
                        </LeftIcon>
                    </AppInput>
                </AppField>
            </div>
            

            <AppField TValue="string" Id="email" Label="Email address" For="() => signupModel.Email">
                <AppInput Id="email"
                          Type="email"
                          Autocomplete="email"
                          Placeholder="Enter your email"
                          @bind-Value="signupModel.Email">
                    <LeftIcon>
                        <MailIcon />
                    </LeftIcon>
                </AppInput>
            </AppField>

            <AppField TValue="string" Id="password" Label="Password" For="() => signupModel.Password">
                <AppInput Id="password"
                          Type="password"
                          Autocomplete="current-password"
                          Placeholder="Enter your password"
                          @bind-Value="signupModel.Password">
                    <LeftIcon>
                        <LockIcon />
                    </LeftIcon>
                </AppInput>
            </AppField>

            <AppField TValue="string" Id="confirm-password" Label="Confirm Password" For="() => signupModel.ConfirmPassword">
                <AppInput Id="confirm-password"
                          Type="password"
                          Autocomplete="current-password"
                          Placeholder="Confirm your password"
                          @bind-Value="signupModel.ConfirmPassword">
                    <LeftIcon>
                        <LockIcon />
                    </LeftIcon>
                </AppInput>
            </AppField>

            <div class="terms-conditions">
                <input type="checkbox" />
                <span>
                    I agree to the
                    <a href="/terms" target="_blank">Terms and Conditions</a>
                    and
                    <a href="/privacy" target="_blank">Privacy Policy</a>.
                </span>
            </div>

            <AppButton Type="submit"
                       Size="md"
                       FullWidth="true"
                       IsLoading="@isSubmitting"
                       LoadingText="Signing up...">
                Sign up
            </AppButton>

            <p class="login-copy">  
                Already have an account?
                <a href="/login">Log in</a>
            </p>
        </div>
    </EditForm>
</AuthPanel>
