@inherits LayoutComponentBase

<CheckAuth Mode="AuthGuardMode.RequireAuthenticated">
    <div class="page">
        @if (!HideNavMenu)
        {
            <NavMenu />
        }
        <main>
            <article class="content">
                @Body
            </article>
        </main>
    </div>

    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>
</CheckAuth>

@code {
    [Inject]
    private NavigationManager Navigation { get; set; } = default!;

    private string CurrentPath => Navigation.ToBaseRelativePath(Navigation.Uri);

    private bool HideNavMenu =>
        CurrentPath.Equals("campaigns/create", StringComparison.OrdinalIgnoreCase) ||
        (CurrentPath.StartsWith("campaigns/", StringComparison.OrdinalIgnoreCase) &&
         CurrentPath.EndsWith("/donate", StringComparison.OrdinalIgnoreCase));
}