:root {
    /* Brand colors */
    --color-primary: #16A34A;
    --color-primary-hover: #f8f9fa;
    --color-secondary-hover: #dcdfe2;
    --color-secondary: #15803D;
    --color-accent: #22C55E;

    /* Status colors */
    --color-success: #16A34A;
    --color-danger: #DC2626;
    --color-warning: #F59E0B;
    --color-info: #258cfb;

    /* Surfaces */
    --color-bg: #ffffff;
    --color-surface: #f8f9fa;
    --color-border: #dee2e6;

    /* Text */
    --color-text-primary: #111827;
    --color-text-secondary: #6B7280;
    --color-text-tertiary: #70798F;

    /* Font Sizes */
    --font-size-sm: 14px;
    --font-size-base: 16px;
    --font-size-lg: 30px;
    --font-size-xl: 36px;

    --color-nav-bar-button-active-bg: #DEFAE7;
}