@typeparam TValue
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Components.Forms

<div class="app-field @Class">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label for="@Id">
            @Label
            @if (IsRequired)
            {
                <span> * </span>
            }
        </label>
    }

    <CascadingValue Value="IsInvalid" Name="IsInvalid">
        @ChildContent
    </CascadingValue>

    @if (For is not null)
    {
        <ValidationMessage For="@For" />
    }
</div>

@code {
    [CascadingParameter]
    private EditContext? EditContext { get; set; }

    [Parameter]
    public string Id { get; set; } = string.Empty;

    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public Expression<Func<TValue>>? For { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool IsRequired { get; set; } = false;

    [Parameter]
    public string? Class { get; set; }

    private bool IsInvalid =>
        EditContext is not null && For is not null &&
        EditContext.GetValidationMessages(FieldIdentifier.Create(For)).Any();
}
